body{
    background-color: #edf2f4;
    margin: 0;
}

nav{
    background-color: #fbb13c;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #563635;
    color: #edf2f4;
    width: fit-content;
    margin: 0;
    height: inherit;
    padding: 5px;
}

#nav-links a{
    color: #22223b;
    text-decoration: none;
    padding: 15px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#nav-links a:hover{
    background-color: #563635;
    color: #edf2f4;
}



#main-image{
    height: 170px;
    width: 300px;
    margin: 5px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#edf2f4;
    background-color: #218380;
    text-align: center;
    margin-top: 0;
    width: 100%;
}

main{
    display: grid;
    justify-items: center;
}

.container{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22223b;
    text-decoration: underline;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22223b;
}

footer{
    background-color: #563635;
    padding: 5px;
    position: relative;
    bottom: 0;
}

footer p{
    color: #fbb13c;
    font-family: 'Courier New', Courier, monospace;
}
