body{
    background-color: #edf2f4;
    margin: 0;
}

nav{
    background-color: #fbb13c;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #563635;
    color: #edf2f4;
    width: fit-content;
    margin: 0;
    height: inherit;
    padding: 5px;
}

#nav-links a{
    color: #22223b;
    text-decoration: none;
    padding: 15px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#nav-links a:hover{
    background-color: #563635;
    color: #edf2f4;
}



#main-image{
    height: 170px;
    width: 300px;
    margin: 5px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#edf2f4;
    background-color: #218380;
    text-align: center;
    margin-top: 0;
    width: 100%;
}

main{
    display: grid;
    justify-items: center;
}

.img-container, .container, ol, ul{
    background-color: #fff;
    padding: 20px;
    margin: 30px 50px;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22223b;
    text-decoration: underline;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22223b;
}

footer{
    background-color: #563635;
    padding: 5px;
    position: relative;
    bottom: 0;
}

footer p{
    color: #fbb13c;
    font-family: 'Courier New', Courier, monospace;
}

li a{
    color: #22223b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset{
    background-color: #fff;
    margin: 30px 50px;
    padding: 20px;
    border: 5px double #22223b;
}

input[type="text"], textarea{
    display: block;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #22223b;
}

div{
    padding: 5px;
    margin: 5px 0;
}

button{
    background-color: #218380;
    color: #edf2f4;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}

button:hover{
    background-color: #edf2f4;
    color: #218380;
}

button:active{
    background-color: #563635;
    color: #fbb13c;
}

.img-container{
    display: flex;
    width: 80%;
    justify-content: center;
    column-gap: 5px;
}

img{
    width: 120px;
    height: 200px;
    border-radius: 5px;
}

figcaption{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #edf2f4;
    background-color: #563635;
    padding: 5px 10px;
    width: 120px;
}

a:hover{
    color: #fbb13c;
}
